<html>
    <head>
        <title>Django Noob blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Noob Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This feels so noob, i don't enjoy tweaking HTML.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I need to level up my Django skills fast, i still don't like HTML.</p>
        </div>
    </body>
</html>